

<div class="col-md-12 bg-light px-5">
    <nav class="navbar px-5" >
        <div class="container-fluid">
          <a class="navbar-brand" href="#">
            <img src="/assets/l-initial-letter-logo-design-with-circle-shape-vector.png" width="50" height="50">
           <span style="font-weight: 600 ">L</span>ink<span style="font-weight: 600 ">L</span>ite
          </a>
          <button type="button" class="btn btn-outline-dark" >Admin</button>

        </div>
      </nav>

      
</div>
